html{
    scroll-behavior: smooth;
}

body{
    background-color: rgba(0, 0, 0, 0.904);
}
p{
    color: white;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}
a{
    color: rgba(43, 136, 43, 0.637);
}
ol{
    color: white;
}
